<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>$TITLE</title>
</head>
<body style="font-family: Helvetica Neue, Helvetica, Arial,sans-serif; 
             max-width: 460px;
             line-height: 21px;">
    
    <!--message-->
    <div class="message" 
         style="font-size: 14px;"> 
        Jean Reilly sent you a link
    </div> 
    <!--message-->
    
    <!--share-->
    <div class="share" 
         style="margin: 21px 0 42px 0;">
         
        <!--link--> 
        <div class="link">
            <a target="_blank" href="http://f1.mozillamessaging.com/"
               style="color: #00A0FF;
                      font-size: 16px; ">
                F1 by Mozilla Messaging   
            </a>
        </div>
        <!--link-->
        
        <!--description-->
        <div class="description" 
             style="font-size: 12px;
                    color: #666;
                    margin: 7px 0;
                    font-style: italic;
                    padding: 0 0 0 15px;
                    border-left: 1px solid #666;">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </div> 
        <!--description-->
        
    </div> 
    <!--share-->
    
    <!--footer-->
    <div class="footer" 
         style="font-size: 12px;
                color: #444;">
        shared via <a target="_blank" style="color:#006AAA;font-weight:bold;text-decoration:none;" title="Share links with the people that matter to you" href="http://f1.mozillamessaging.com/">Mozilla F1</a> for Firefox &mdash; <span style="color:#666;">share links with the people that matter to you</span>
    </div> 
    <!--footer-->
    
</body>
</html>
