<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>$TITLE</title>
</head>
<body style="font-family: Helvetica Neue, Helvetica, Arial,sans-serif; 
             margin: 20px;
             max-width: 460px;
             line-height: 110%;">
    
    <!--message-->
    <div class="message" 
         style="font-size: 14px;
                text-indent: -5px;"> 
        <span class="quote">&ldquo;</span>Jean Reilly sent you a link<span class="quote">&rdquo;</span>     
    </div> 
    <!--message-->
    
    <!--share-->
    <div class="share" 
         style="margin: 20px 0;">
         
        <!--link--> 
        <div class="link">
            <a href="http://f1.mozillamessaging.com/"
               style="color: #00A0FF;
                      font-size: 16px; ">
                F1 by Mozilla Messaging   
            </a>
        </div>
        <!--link-->
        
        <!--description-->
        <div class="description" 
             style="font-size: 12px;
                    color: #666;
                    margin: 10px 0;
                    font-style: italic;
                    padding: 0 0 0 15px;
                    border-left: 1px solid #666;
                    text-indent: -5px;">
            <span class="quote">&ldquo;</span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<span class="quote">&rdquo;</span>
        </div> 
        <!--description-->
        
    </div> 
    <!--share-->
    
    <!--footer-->
    <div class="footer" 
         style="font-size: 12px;
                color: #666;
                position: absolute;
                bottom: 0;
                margin: 20px 0;">
        sent via <a style="color:#00A0FF;" href="http://f1.mozillamessaging.com/">Mozilla F1</a>
    </div> 
    <!--footer-->
    
</body>
</html>
