* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-collapse: collapse;
  position: relative;

  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: top;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;

}

body {
  font-size: 14px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  height: 128px;
  max-height: 128px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}

body.status {
  height: 37px;
  max-height: 37px;
}

a {
  text-decoration: none;
  outline: none;
}

.hidden {
  display: none;
}

#tabs {
  height: 128px;
  -moz-box-shadow: 0 -5px 2px -4px #DDDDDD inset;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.wrap {
  overflow: hidden;
  background-position: top center;
  background-repeat: repeat;
  background-color: #444;
  background-image: url("i/background.gif");
  -moz-box-shadow: 0 -2px 3px rgba(0,0,0,0.25) inset;
  width: 100%;
}

/* === TABS === */

ul.nav {
  display: block;
  width: 960px;
  margin: 0 auto;
  padding: 7px 0 0 0;
  -moz-box-sizing: padding-box;
}

ul.nav li {
  width: 36px;
  display: inline-block;
  list-style-type: none;
  background-color: #444;
  font-size: 12px;
  line-height: 24px;
  -moz-border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.45);
}

ul.nav li:hover {
  background-color: #555;
}

ul.nav li:nth-child(n+2) {
  margin-left: -5px;
}

ul.nav li:nth-child(1) {
  z-index: 3;
}

ul.nav li:nth-child(2) {
  z-index: 2;
}

ul.nav li:nth-child(3) {
  z-index: 1;
}

ul.nav li a.icon,
ul.nav li span.name {
  opacity: 0.5;
}

ul.nav li a.icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

ul.nav li span.name {
  display: none;
  font-weight: bold;
  color: #444;
}

ul.nav li a.icon.twitter {
  background-image: url("i/twitter_w.png");
}

ul.nav li a.icon.facebook {
  background-image: url("i/facebook_w.png");
}

ul.nav li a.icon.gmail {
  background-image: url("i/gmail_w.png");
}

ul.nav li a.icon.debug {
  background-image: url("i/bug_w.png");
}

ul.nav li a.icon.settings {
  background-image: url("i/settings.png");
}

/* === USER INFO TAB THING === */

ul.nav .user-info {
  position: absolute;
  right: 41px; /* 5 + 36 */
  bottom: 4px;
  text-align: right;
  vertical-align: middle;
}

ul.nav .user-info .status {
  display: inline-block;
  -moz-border-radius: 100px;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background-image: -moz-radial-gradient(center, circle cover, #44aaff 0% , #2288ff 50%, #0066dd 90%, #444 100%);
}

ul.nav .user-info .status.inactive {
  background-image: -moz-radial-gradient(center, circle cover, #ddd 0%, #999 50%, #777 90%, #444 100%);
}

ul.nav .user-info .username {
  color: #efefef;
  font-size: small;
  vertical-align: middle;
}

ul.nav .user-info span.avatar {
  background-color: #efefef;
  display: inline-block;
  padding: 1px;
}

ul.nav .user-info img.avatar {
  max-width: 22px;
  height: 22px;
}

/* === SETTINGS TAB === */

ul.nav li.settings {
  position: absolute;
  right: 0;
  bottom: 3px;
}

ul.nav li.settings,
ul.nav li.settings.ui-tabs-selected  {
  background-color: transparent;
  background-image: none;
  -moz-box-shadow: none;
  width: 36px;
}

/* === TAB SELECTED === */

ul.nav li.ui-tabs-selected {
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
  width: 128px;
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.45);
  z-index: 100;
}

ul.nav li.ui-tabs-selected a.icon,
ul.nav li.ui-tabs-selected span.name {
  opacity: 1;
}

ul.nav li.ui-tabs-selected span.name {
  display: block;
  padding-left: 24px;
}

ul.nav li.ui-tabs-selected a.twitter {
  background-image: url("i/twitter_b.png");
}

ul.nav li.ui-tabs-selected a.facebook {
  background-image: url("i/facebook_b.png");
}

ul.nav li.ui-tabs-selected a.gmail {
  background-image: url("i/gmail_b.png");
}

ul.nav li.ui-tabs-selected a.debug {
  background-image: url("i/bug_b.png");
}

/* === TAB PANELS === */

.ui-tabs-panel {
  padding: 7px;
  white-space: nowrap;
  width: 960px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  -moz-box-sizing: padding-box;
}

.ui-tabs .ui-tabs-hide {
  display: none;
}

.col {
  display: inline-block;
  margin: 0 10px;
  overflow: hidden;
}

.col.user {
  width: 140px;
  margin-left: 0;
  white-space: nowrap;
  display: none;
}

.col.thumb {
  width: 220px;
}

.col.addressing {
  width: 220px;
}

.col.message {
  width: 540px;
}

.col.button {
  vertical-align: bottom;
}

.col.button.twitterCounter {
  vertical-align: top;
}

#twitter .counter {
    height: 17px;
    margin-bottom: 29px;
    text-align: center;
}

.user.inactive {
  opacity: 0.5;
  background: -moz-repeating-linear-gradient(top left -45deg, #aaa, #aaa 5px, #fff 5px, #fff 10px) #aaa no-repeat fixed;
  -moz-border-radius: 1%;
  cursor: pointer;
}

div.user .username {
  color: #444;
  font-size: small;
  font-weight: bold;
}

div.image,
div.meta {
  display: inline-block;
  overflow: hidden;
}

div.image {
  height: 74px;
  width: 94px;
  text-align: center;
}

div.image img {
  height: 70px;
  max-width: 90px;
  -moz-box-shadow: 1px 1px 3px #555;
}

.meta {
  padding: 0 3px;
}

.meta .title {
  font-size: small;
}

.meta .description {
  color: #666;
  white-space: normal;
  font-size: 10px;
  line-height: 14px;
  height: 28px;  /* 2 lines worth */
  overflow: hidden;
}

.meta .url,
.meta .curl {
  font-size: 10px;
  text-decoration: underline;
  display: block;
}

button {
  padding: 2px 15px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height:24px;
  background-image: -moz-linear-gradient(top,#fafafa 0%,#e6e6e6 100%);
  border: 1px solid #fff;
  outline: 1px solid #bebebe;
  margin: 1px;
}

textarea, input[type="text"] {
  -moz-box-shadow:0 1px 2px #CCCCCC inset;
  background-image:-moz-linear-gradient(center top , #FFFFFF 0%, #FAFAFA 100%);
  border:1px solid #BEBEBE;
  font-family:"helvetica neue",helvetica,arial,sans-serif;
  font-size:14px;
  line-height:24px;
  padding: 3px;
  width: 100%;
}

input[type="text"] {
  height: 28px;
  width: 220px;
  margin-top: 3px;
  margin-bottom: 3px;
}

input[type="text"].placeholder,
input[type="password"].placeholder {
  color: #888;
}

div.status {
  position: relative;
  width: 100%;
  padding: 10px;
  background-position: top center;
  background-repeat: repeat;
  background-color: #444;
  background-image: url("i/background.gif");
  -moz-box-shadow: 0 -2px 3px rgba(0,0,0,0.25) inset;
  color: white;
}

.statusButton {
  position: absolute;
  right: 10px;
  top: 6px;
}

.col.videoText,
.col.explainText {
    width: 210px;
    white-space: normal;
}

.col.videoText a {
    color: #a0a0a0;
}

img.video {
    width: 112px;
    height: 63px;
}

.TextCountOver {
    color: red;
}