* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-collapse: collapse;
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}

body {
  font-size: 11px;
  font-family: "lucida grande";
  max-height: 128px;
  overflow: hidden;
  background-color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
}

body.loading {
  background-color: #ddd;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #DDDDDD 100%);
}

body.status {
  height: 37px;
  max-height: 37px;
}

/* Turn off some things if not in dev */
html.prod body li.debugTab,
html.prod body li.gmailTab,
html.prod body #settings li.gmailSettings {
    display: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #00A0FF;
}

.hidden,
ul.nav li.hidden {
  display: none;
}

.invisible,
body #tabs.invisible {
    visibility: hidden;
}

#tabs {
  padding: 0 10px;
  overflow: hidden;
  border-bottom: 1px solid #777;
  background-color: #ddd;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #DDDDDD 100%);
}

button::-moz-focus-inner {
  border: 0;
}

button {
  padding: 2px 15px;
  background-image: -moz-linear-gradient(center top , #FAFAFA 0%, #DDDDDD 100%);
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  -moz-border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
  -moz-box-shadow: 0 1px 0 #fff;
}

button:active {
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #CCCCCC 100%);
  -moz-box-shadow:0 0 1px #666666 inset, 0 1px 0 #FFFFFF;
}

/* === TABS === */

ul.nav {
  display: block;
  width: 100%;
  /* min-height for when all tabs are hidden on first config. */
  min-height: 32px;
}

ul.nav li {
  width: auto;
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 3px 0;
  font-size: 11px;
  line-height: 24px;
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #ddd 100%);
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  -moz-box-shadow: 0 1px 0 #fff;
  position: relative;
}

ul.nav li:nth-child(n+2) {
  border-left: none;
  -moz-border-radius: 0;
}

ul.nav li.first {
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-left: 1px solid #888888;
}

ul.nav li.last {
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}

ul.nav li.first.last {
  border-left: 1px solid #888;
}

ul.nav li a.icon {
  width: 36px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

ul.nav li a.icon.twitter {
  background-image: url("i/twitterIcon.png");
}

ul.nav li a.icon.facebook {
  background-image: url("i/facebookIcon.png");
}

ul.nav li a.icon.gmail {
  background-image: url("i/gmailIcon.png");
}

ul.nav li a.icon.debug {
  background-image: url("i/bug_b.png");
}

ul.nav li a.icon.settings {
  background-image: url("i/settingsIcon.png");
}

/* === TAB TOOLTIP === */

#tabToolTip {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  top: 2px;
  left: 52px;
  width: 70px;
  text-align: center;
  z-index: 100;
  display: none;
  line-height: 20px;
}

#tabToolTip span.arrow {
  border-color:transparent rgba(0,0,0,0.8) transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  left: -20px;
  position: absolute;
  top: 0;
  width: 0;
}

/* === USER INFO TAB THING === */

ul.nav .user-info {
  border-left: 1px dotted #888888;
  display: inline-block;
  font-size: 11px;
  line-height: 21px;
  margin: 4px 10px;
  padding: 0 10px;
}

ul.nav .user-info .status {
  display: none;
  -moz-border-radius: 100px;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background-image: -moz-radial-gradient(center, circle cover, #44aaff 0% , #2288ff 50%, #0066dd 90%, #444 100%);
}

ul.nav .user-info .status.inactive {
  background-image: -moz-radial-gradient(center, circle cover, #ddd 0%, #999 50%, #777 90%, #444 100%);
}

ul.nav .user-info .username {
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
}

ul.nav .user-info img.avatar {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #FFFFFF;
  height: 23px;
  margin-right: 5px;
  width: 23px;
}

/* === SETTINGS TAB === */

ul.nav li.settings,
ul.nav li.settings.ui-tabs-selected  {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  -moz-border-radius: 2px;
}

ul.nav li.settings {
  border: 1px solid #888;
}

/* === TAB SELECTED === */

ul.nav li.ui-tabs-selected {
  -moz-box-shadow:0 0 5px #444 inset, 0 1px 0 #FFFFFF;
  background-image:-moz-linear-gradient(center top , #bbb 0%, #aaa 100%);
  border-color: #666;
}

ul.nav li.ui-tabs-selected a.twitter {
  background-image: url("i/twitterIconColor.png");
}

ul.nav li.ui-tabs-selected a.facebook {
  background-image: url("i/facebookIconColor.png");
}

ul.nav li.ui-tabs-selected a.gmail {
  background-image: url("i/gmailIconColor.png");
}

ul.nav li.ui-tabs-selected a.debug {
  background-image: url("i/bug_b.png");
}

/* === TAB PANELS === */

.messageForm {
  min-height: 71px;
  padding: 5px 0;
  width: 100%;
}

.ui-tabs .ui-tabs-hide {
  display: none;
}

.ui-tabs-panel .user {
  display: none;
}

.thumb {
  -moz-border-radius: 2px 2px 2px 2px;
  -moz-box-shadow: 0 1px 0 #fff;
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #DDDDDD 100%);
  border: 1px solid #BBBBBB;
  height: 71px;
  margin: 0 5px 0 0;
  padding: 4px;
}

.thumb .image {
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  display: inline-block;
  height: 61px;
  width: 90px;
  text-align: center;
}

.thumb .image .thumb {
  -moz-border-radius: 0px;
  background-image: none;
  border: none;
  height: auto;
  margin: 0;
  padding: 0;
  max-width: 90px;
}

div.image,
div.meta {
  display: inline-block;
  overflow: hidden;
}

.meta {
  padding: 0 3px;
  width: 150px;
  line-height: 14px;
}

.meta .title {
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}

.meta .description {
  color: #444;
  white-space: normal;
  font-size: 9px;
  /* max-height: 22px;  */ 
  overflow: hidden;
}

.meta .url,
.meta .surl {
  font-size: 9px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  color: #00A0FF;
}

.addressing {
  margin: 0 5px 0 0;
  width: 253px;
}

button.share {
  -moz-border-radius: 0 2px 2px 0;
  border-left: medium none;
  margin-left: 0;
}

textarea, input[type="text"] {
  border-width: 1px; 
  border-style: solid;
  border-color: #888;
  font-family: "lucida grande";
  font-size: 12px;
  line-height: 18px;
  padding: 3px;
  margin: 0;
  width: 100%;
  -moz-border-radius: 2px;
  -moz-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.25) inset,  0 1px 0 #fff;
}

textarea.message {
  -moz-border-radius: 2px 0 0 2px;
  font-size: 14px;
  min-height: 71px;
}

input[type="text"] {
  height: 28px;
  width: 100%;
  margin-bottom: 5px;
}

input[type="text"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
  color: #888;
}

/* === TWITTER PANEL === */
#twitter .counter {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: #888;
  font-weight: bold;
}

.TextCountOver {
  color: red !important;
}

/* === SETTINGS PANEL === */

#settings .aboutLink {
    display: block;
}

#settings .account {
  display: inline-block;
  width: 100%;
  line-height: 22px;
  color: #54B851;
  font-weight: bold;
}

#settings .account img {
  width: 22px;
  height: 22px;
}

#settings .account .name,
#settings .account .accountDomain {

}

#settings ul {
  min-width: 660px;
}

#settings ul li {
  display: inline-block;
  float: left;
  width: 220px;
  min-height: 71px;
}

#settings ul li:nth-child(1) {
  padding: 0 10px 0 0;
}

#settings ul li:nth-child(2) {
  padding: 0 10px 0;
}

#settings ul li:nth-child(3) {
  padding: 0 0 0 10px;
}

#settings ul li button {
  margin: 0;
  width: 100%;
  padding: 5px 0;
}


#settings ul li h1 {
  margin: 0 0 10px 0;
}

h1 {
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #0a0a0a;
  padding: 5px 0 0 0;
  /* border-top: 1px dotted #888; */
}

h1 a {
  font-weight: normal;
}

h1 img {
  margin-top: -1px;
}

#settings .settings {
  width: 253px;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px dotted #888;
  color: #444;
}

#settings .success {
  width: 100%;
  line-height: 24px;
  color: #54B851;
  font-weight: bold;
}

#settings span.check {
  width: 22px;
  background-color: #54B851;
  color: #fff;
  -moz-border-radius: 12px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

#settings .explainText {
  border-left: 1px dotted #888888;
  color: #444444;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  width: 253px;
}

#settings .remove {
  font-weight: normal;
  line-height: 7px;
  padding-left: 26px;
  display: block;
}


#settings .remove a:hover {
  color: red;
}

/* === STATUS MESSAGES === */

#clickBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: white;
}

div.status {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 5px 20px;
  color: #0a0a0a;
  -moz-border-radius: 7px;
  font-size: 14px;
  text-align: center;
}

#statusSharing {
  background-color: #e6e6e6;
}

#statusShared {
  background-color: yellow;
}

#statusShared a {
    color: #0a0a0a;
    text-decoration: underline;
}

.shareTitle {
    display: inline-block;
    max-width: 200px;
    font-weight: bold;
}

div.status.error {
  background-color: #ff5959;
  color: #fff;
  font-weight: bold;
}

.statusButton {
  font-size: 11px;
  vertical-align: baseline;
  font-weight: normal;
  -moz-box-shadow: none;
}

#statusErrorMessage {
    display: inline-block;
    margin-top: 3px;
}

#statusServerError {
    line-height: 20px;
}

/* START hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */
/* hbox and vbox classes */
 
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
 
.boxFlex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.boxFlex1, .boxFlex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.boxFlex2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
 
.boxGroup1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
 
.boxGroup2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}
 
.start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
/* END hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}