build/
data/
data/sessions
*.db
dist
.DS_Store
*.egg
*.egg-info
env
f1.spec
^grinder/.*-file-store
^grinder/.*\.log.*
^grinder/.*\$py.class
*.pyc
*.pyo
*.swp
tmp
web/current
web/share-0.1-dev.xpi
web-static
*.xpi
