include README.md Makefile LICENSE f1.spec
include *.ini
recursive-include apache *
recursive-include extensions *
recursive-include linkdrop *
recursive-include grinder *
recursive-include docs *
recursive-include tools *
recursive-include wsgi *
