@charset "UTF-8";

/* TODO: some of these styles, like text sizing/box sizing and colors/borders
  need to be set in the app that includes a Select widget. */
.Select {
  position:relative;
  display: inline-block;
  overflow: hidden;
  padding-right: 15px;
  z-index: 100;
  border: 1px solid #A6AFB6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
  height: 24px;
  cursor: pointer;
  background-color: white;
  text-align: left;
  border-radius: 4px;
}

.Select.open {
  overflow: visible;
  padding-right: 0;
  border: 0;
}

.Select ul {
  list-style: none;
  z-index: 100;
  background-color: white;
}

.Select.open ul {
  position: absolute;
  border: 1px solid gray;
}

.Select li {
  display: none;
  height: 0;
  padding: 0 5px;
  white-space: nowrap;
}

.Select li.selected {
  display: block;
  height: 24px;
  line-height: 24px;
}

.Select.open li {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-right: 20px;
}

.Select.open li.selected {
  /* background-color: grey; */
}

.Select.open li.selected:hover,
.Select.open li:hover {
  color:white;
  background-color: #535F6D;
}

.Select .triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 24px;
  line-height: 24px;
  padding: 0 2px;
  z-index: 101;
  color: #A6AFB6;
  background-color: white;
  background-image: url("/share/i/sprite.png");
  background-position: center -362px;
  background-repeat: no-repeat;
}

.Select.open .triangle {
  display: none;
}
