@charset "UTF-8";

/* TODO: some of these styles, like text sizing/box sizing and colors/borders
  need to be set in the app that includes a Select widget. */
.Select {
  position:relative;
  display: inline-block;
  padding-right: 15px;
  z-index: 100;
  border: 1px solid #303030;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  height: 24px;
  cursor: pointer;
  color: #e2e2e2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #767676), color-stop(100%, #545454));
  background-image: -moz-linear-gradient(center top , #767676 0%, #545454 100%);
  text-align: left;
  border-radius: 4px;
}

.Select.open {
  padding-right: 0;
  border: 0;
}

.Select ul {
  list-style: none;
  z-index: 100;
}

.Select.open ul {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #767676), color-stop(100%, #545454));
  background-image: -moz-linear-gradient(center top , #767676 0%, #545454 100%);
  border: 1px solid gray;
}

.Select li {
  display: none;
  height: 0;
  padding: 0 5px;
  white-space: nowrap;
}

.Select li.selected {
  display: block;
  height: 24px;
  line-height: 24px;
}

.Select.open li {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-right: 20px;
}

.Select.open li.selected {
  /* background-color: grey; */
}

.Select.open li.selected:hover,
.Select.open li:hover {
  color:white;
  background-color: #2b2b2b;
}

.Select .triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 24px;
  line-height: 24px;
  padding: 0 2px;
  z-index: 101;
  background-image: url("/share/i/sprite.png");
  background-position: center -362px;
  background-repeat: no-repeat;
}

.Select.open .triangle {
  display: none;
}
