#ffshare-popup {
  -moz-appearance: none;
  -moz-window-shadow: none;
  background-color: transparent;
  margin-top: -4px;
  margin-left: -13px;
  padding-right: 35px;  /* not quite 50px but looks very close */
  min-width: 380px;
  -moz-border-image: url(chrome://browser/skin/hud-panel.png) 26 18 22 50 / 26px 18px 22px 50px repeat;
  color: lightgrey;
}

/* factory reset */
#ffshare-popup * {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-border-radius: 0px;
  font-family: sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  list-style-type: none;
}

#ffshare-popup description {
  margin: 5px 0;
}

#ffshare-toolbar-button
{
  list-style-image: url("chrome://ffshare/skin/toolbar-button.png");
}

#ffshare-popup  description {
  font-size: 150%;
  font-weight: bold;
}

#ffshare-popup .account {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#ffshare-popup .row {
  margin-top: 7px;
  margin-bottom: 5px;
}

.over {
  color: red !important;
}

#ffshare-popup textarea.message {
  padding: 3px;
  -moz-border-radius: 3px;
}

#ffshare-popup textarea.message:focus {
  -moz-box-shadow:0 0 8px rgba(112, 198, 255, 0.5);
  border-color:rgba(112, 198, 255, 0.75) !important;
}

#ffshare-button {
  -moz-appearance: none;
  -moz-border-radius: 4px;
  padding: 1px 2px;
  margin: 7px 0;
  -moz-margin-start: 0.4em;
  vertical-align: middle;
  list-style-image: none; /* overrides the rule from primaryToolbar.css */
  background-color: rgb(210,210,210);
  border: 1px solid rgb(145,145,145);
  -moz-box-shadow: 0px 20px 16px -10px rgb(255,255,255) inset, 0px 1px rgba(255,255,255, 0.4);
}

#ffshare-button:active,
#ffshare-button[type="menu-button"][open] {
  background-color: rgb(186,186,186);
  -moz-box-shadow: 0px 4px 4px 0px rgb(140,140,140) inset;
}

#ffshare-button .button-menubutton-button {
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  padding-bottom: 2px !important;
  min-width: 1ex;
  min-height: 1ex;
  border-right: 1px solid #999;
}

#ffshare-button .button-menubutton-button .button-icon {
  margin: 3px;
}

#ffshare-button .button-menubutton-button .button-text {
  font-weight: bold;
  margin: 0 7px !important;
}

#ffshare-button .button-menubutton-dropmarker {
  -moz-appearance: none;
  padding: 0;
  margin: 0;
}

#ffshare-button menupopup {
  -moz-border-radius: 0;
}

#ffshare-button menupopup menuitem {
  margin: 3px 5px;
}

#ffshare-button menupopup menuitem label {
  margin: 0 3px;
}

#ffshare-button menupopup menuitem .more {
  color: #444;
  text-align: right;
  margin-left: 21px;
}
