body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#container {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -150px;
}

#container .logo {
  width: 62px;
  height: 56px;
  margin: 10px auto;
  display: block;
  background-image: url("i/f1logo.png");
}

#container .errorMsg {
  text-align: center;
  color: #00A0FF;
}