
/*
 jQuery UI autocomplete styles
*/
.ui-autocomplete.ui-widget-content {
    background-color: white;
    border: 1px solid #A6AFB6;
    color: #222222;
}

/* Fix the height of the autocomplete */
.ui-autocomplete {
  max-height: 85px;
  overflow-x: hidden;
  overflow-y: auto;

  position: absolute;
  cursor: default;
}

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}


/* Interaction states
----------------------------------*/
.ui-autocomplete .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
}
.ui-autocomplete .ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  text-decoration: none;
}

.ui-autocomplete .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #535F6D;
  background-color: #535F6D;
  color: white;
}

.ui-autocomplete .ui-state-hover a,
.ui-state-hover a:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #535F6D;
  background-color: #535F6D;
  color: white;
}

.ui-autocomplete .ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: white;
  text-decoration: none;
}

.ui-autocomplete .ui-widget :active {
  outline: none;
}

.AutoCompleteRefresh {
  position: absolute;
  right: 0;
  display: none;
  border-color: #A6AFB6;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  margin: 0;
  padding: 2px;
  background: white;
  line-height: 24px;
  z-index: 100;
}

.addressing .AutoCompleteRefresh {
  top: 26px;
}

.addressing .toSection .AutoCompleteRefresh {
  top: 45px;
}

.AutoCompleteRefresh button {
  float: right;
}

.addressing .AutoCompleteSpinner {
  position: absolute;
  top: 6px;
  right: 3px;
  width: 16px;
  height: 16px;
  background-image: url('/share/i/loader.gif');
  z-index: 200;
}

.addressing .toSection .AutoCompleteSpinner {
  top: 25px;
}

* {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    general
*/

body {
  font-family: "Lucida Grande", Verdana, Sans-serif;
  font-size: 11px;
  line-height: 110%;
  overflow: hidden;
  min-width: 425px;
  width: 100%;
  height: 100%;
  min-height: 120px;
  background-color: #505050;
}

noscript {
    display: block;
    padding: 20px;
    font-size: 14px;
    line-height: 16px;
}

#wrapper {
  max-width: 430px;
  height: 100%;
}


#tabs {
  width: 38px;
  padding: 6px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515151), color-stop(100%, #2b2b2b));
  background-image: -moz-linear-gradient(center top , #515151 0%, #2b2b2b 100%);
}

button::-moz-focus-inner {
  border: 0;
}

button {
  height: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  cursor: pointer;
  padding: 0 10px;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ddd));
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #ddd 100%);
}

button:active {
  -webkit-box-shadow: 0 0 1px #666666 inset;
     -moz-box-shadow: 0 0 1px #666666 inset;
          box-shadow: 0 0 1px #666666 inset;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
  background-image: -moz-linear-gradient(center top , #eee 0%, #ccc 100%);
}

#tabContent {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f6f6f), color-stop(100%, #444444));
  background-image: -moz-linear-gradient(center top , #6f6f6f 0%, #444444 100%);

}

h2 {
  font-size: 13px;
  color: #535f6d;
  text-shadow: 1px 1px 0 rgba(255,255,255, 0.5);
}

h3 {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: #535f6d;
}

/* Tab Buttons */
.widgets-TabButton {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  font-size: 20px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  color: white;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.widgets-TabButton.selected {
  border: 1px solid #577894;
  box-shadow: 0 0 5px rgba(87, 120, 148, 1);
  background-color: #303333;
}


/* Service panel widgets */

.widgets-AddAccount {
  width: 360px;
  height: 56px;
  box-sizing: border-box;
  margin: 14px;
  text-align: center;
}

.widgets-AddAccount .add {
  margin: 50px 70px 0px 60px;
}

.widgets-AddAccount .add label {
  display: block;
  float: left;
  height: 24px;
  margin-right: 5px;
  line-height: 24px;
  color: #e2e2e2;
}

.widgets-AddAccount .add li {
  background-repeat: no-repeat;
  padding-left: 26px;
}

.widgets-AddAccount .add li[data-value=""] {
  padding-left: 4px;
}

.widgets-AddAccount .add li[data-value="twitter.com"] {
  background-image: url("/share/i/sprite.png");
  background-position: 4px -33px;

}

.widgets-AddAccount .add li[data-value="facebook.com"] {
  background-image: url("/share/i/sprite.png");
  background-position: 4px -66px;
}

.widgets-AddAccount .add li[data-value="google.com"] {
  background-image: url("/share/i/sprite.png");
  background-position: 4px -99px;
}


/*
    generic styles for account panels
*/

.share {
  float: right;
}

.hidden {
  display: none;
}

.hiddenImportant {
  display: none !important;
}

span.arrow,
span.icon {
  display: inline-block;
  background-image: url("i/sprite.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}

span.arrow {
  width: 12px;
  height: 14px;
}

span.icon {
  width: 16px;
  height: 14px;
  margin: 0 5px;
}


.icon {
  background-repeat: no-repeat;
}

.icon.settings {
  background-image: url("/share/i/sprite.png");
  background-position: center 4px;
}

.icon.twitter {
  background-image: url("/share/i/sprite.png");
  background-position: center -33px;
}

.icon.facebook {
  background-image: url("/share/i/sprite.png");
  background-position: center -66px;
}

.icon.gmail {
  background-image: url("/share/i/sprite.png");
  background-position: center -99px;
}

.icon.yahoo {
  background-image: url("/share/i/sprite.png");
  background-position: center -129px;
}

.icon.googleapps {
  background-image: url("/share/i/sprite.png");
  background-position: center -162px;
}

.icon.linkedin {
  background-image: url("/share/i/LinkedIn_Logo16px.png");
  background-position: center;
}

.icon.debug {
  background-image: url("/share/i/bug_b.png");
  background-position: center;
}

/* Generic AccountPanel styles */

.widgets-AccountPanel {
  margin: 14px;
}

.widgets-AccountPanel .user {
  width: 60px;
  color: #e2e2e2;
  text-align: center;
}

.widgets-AccountPanel .username {
  display: block;
}

img.avatar {
  border: 1px solid #383838;
  height: 48px;
  width: 48px;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.widgets-AccountPanel .addressing {
  width: 300px;
  position: relative;
  padding-left: 8px;
}

.widgets-AccountPanel textarea.message {
  width: 100%;
  height: 68px;
  margin: 0 0 4px 0;
  resize: none;
}

.widgets-AccountPanel .shareTypeSection {
  float: left;
  width: 100px;
}

.widgets-AccountPanel .shareTypeSection.wide {
  float: none;
  width: 100%;
}

.widgets-AccountPanel .shareTypeSection .Select.open ul {
  top: -20px;
}

.shareTypeSelectSection.fixedSize {
  width: 100px;
}

.shareTypeSelectSection.fixedSize select {
  width: 100px;
  margin: 2px 0 0 0;
}

.toSection {
  width: 150px;
  padding-left: 10px;
}

body .toSection input[type="text"] {
  width: 100%;
}

.lineSeparatorOption {
  border-top: 1px solid #CCCCCC;
}

.widgets-AccountPanel .inputError[type="text"] {
  border: 1px solid #C26464;
  background-color: #893232;
}

.widgets-AccountPanel .accountActions {
  width: 190px;
}

.widgets-AccountPanel .accountActions.wide {
  width: 100%;
  margin-top: 4px;
}

.widgets-AccountPanel span.count {
  line-height: 24px;
  color: #535F6D;
}

.widgets-AccountPanel label {
  display: block;
  margin: 0 0 5px 0;
}

.widgets-AccountPanel .statusSection {
  padding-right: 10px;
  text-align: right;
}

.widgets-AccountPanel div.counter {
  display: inline;
  padding-left: 5px;
  line-height: 24px;
  color: #e2e2e2;
}

.widgets-AccountPanel div.counter.TextCountOver {
  color: #880000
}

.widgets-AccountPanel div.status {
  display: none;
  position: relative;
  line-height: 24px;
  min-height: 0;
  width: auto;
  font-size: inherit;
  z-index: 0;
}

.widgets-AccountPanel div.status.error {
  color: #C26464;
  background-color: transparent;
  box-shadow: none;
}

.widgets-AccountPanel textarea,
.widgets-AccountPanel input[type="text"] {
  width: 100%;
  font-family: "Lucida Grande", Verdana, Sans-serif;
  font-size: 11px;
  padding: 2px;
  border: 1px solid #383838;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.widgets-AccountPanel .placeholder {
  color: #aaa;
}

.widgets-AccountPanel textarea:focus,
.widgets-AccountPanel input[type="text"]:focus {
  outline: none;
  border: 1px solid #577894;
  box-shadow: 0 0 5px #577894;
}

.widgets-AccountPanel button:focus {
  outline: 0;
}

.widgets-AccountPanel input[type="text"] {
  height: 24px;
}

.widgets-AccountPanel button:focus {
  box-shadow: 0 0 5px #577894;
}

.widgets-AccountPanel button.share {
  border: 1px solid #57BCFF;
  color: #005796;
  font-weight: bold;
  text-shadow: 0 1px 1px #47AFF8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0097F1), color-stop(100%, #545454));
  background-image: -moz-linear-gradient(center top , #23AEFF 0%, #0097F1 100%);
}

/*
    twitter styles

span.icon.twitter {
  background-position: center -35px;
}

*/


/*
    facebook styles
*/

.facebook .facebookActions {
  margin: 0 0 10px 0;
  width: 100%;
}

.facebook .facebookActions .to {
  width: 100px;
  margin-right: 10px;
}

.facebook .facebookActions .to .dropdownContainer {
  height: 24px;
  line-height: 24px;
  display: block;
}

.facebook .facebookActions .to select {
  width: 100%;
}

.facebook .facebookActions .list label {
  visibility: hidden;
}

.facebook .facebookActions .list button {
  border-left: none;
  width: 24px;
  background-position: center -157px, center top;
  background-repeat: no-repeat;

  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;

  background-image: url("i/sprite.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ddd));
  background-image: url("i/sprite.png"), -moz-linear-gradient(center top , #fafafa 0%, #ddd 100%);
}

.facebook .facebookActions .list button:active {
  background-image: url("i/sprite.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
  background-image: url("i/sprite.png"), -moz-linear-gradient(center top , #eee 0%, #ccc 100%);
}

/*

span.icon.facebook {
    background-position: center -59px;
}
*/

/*
    google styles
*/

.google .subject {
  margin: 5px 0;
}

span.icon.google {
  background-position: center -82px;
}

#news {
  padding: 10px;
  width: 100%;
}

#news span.icon.rss {
  background-position: center -183px;
  margin: 0 5px 0 0;
}

#news .story {
  padding: 5px 0;
}

/*
    hbox & vbox
*/

.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;

	display: box;
	box-orient: horizontal;
	box-align: stretch;
        width: 100%;
}

.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}

.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;

	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;

	display: box;
	box-orient: vertical;
	box-align: stretch;
}

.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}

.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}

.boxFlex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}

.boxFlex1, .boxFlex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.boxFlex2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

.boxGroup1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}

.boxGroup2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}

.start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}

.end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}

.center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

/*
    clearfix
*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/*
    webkit specific styles
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

  #wrapper {
    background-color: #404040;
  }

  .overflow {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  div.title {
    white-space: wrap;
  }

  .flip {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
  }

  .front_flip {
    -webkit-transform: rotateY(-180deg);
    z-index: 900;
  }

  .back_flip {
    -webkit-transform: rotateY(0deg) !important;
    z-index: 1000;
  }

}

/* === STATUS MESSAGES === */

div.status {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 180px;
  top: 0;
  left: 0;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  z-index: 500;
}

div.status table {
  width: 100%;
  height: 100%;
  padding: 10px;
}

div.status td {
  vertical-align: center;
  height: 100%;
}

#statusCaptcha {
  line-height: normal;
  background-color: #f2f2f2;
}

div.captcha-wrap {
  /*  we need this to take up the full height of the status bar */
}

div.captcha-wrap img {
  width: 200px;
  height: 55px;
  margin: 0 10px;
}

div.captcha-wrap .text,
div.captcha-wrap .subtext {
  font-size: smaller;
  color: #444;
  text-align: left;
}

div.captcha-wrap .subtext {
  color: #666;
}

div.captcha-wrap .controls {
  width: 100%;
}

div.captcha-wrap button {
  height: 30px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #888;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;

  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ddd));
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #ddd 100%);
}

div.captcha-wrap button:active {
  -webkit-box-shadow: 0 0 1px #666666 inset;
     -moz-box-shadow: 0 0 1px #666666 inset;
          box-shadow: 0 0 1px #666666 inset;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
  background-image: -moz-linear-gradient(center top , #eee 0%, #ccc 100%);
}

div.captcha-wrap input {
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 3px;
  margin: 0;

  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;

  -webkit-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.25) inset,  0 1px 0 #fff;
     -moz-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.25) inset,  0 1px 0 #fff;
          box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.25) inset,  0 1px 0 #fff;
}

#captchaSuround {
  max-height: 80px;
}
#captchaImage {
  border: 1px solid #888;
}

#captchaSound {
  border: 1px solid #888;
  width: 10px;
  height: 10px;
}

div.status img {
  vertical-align: middle;
}

#statusSharing {
  background-color: #f2f2f2;

  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
     -moz-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
          box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
}

#statusShared {
  background-color: #77E069;

  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
     -moz-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
          box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
}

#statusShared a {
  color: #0a0a0a;
  text-decoration: underline;
}

.shareDomain {
  display: inline-block;
  max-width: 200px;
  font-weight: bold;
}

div.status.error,
div.status.warning {
  background-color: #ff5959;
  color: #fff;
  text-align: center;

  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
     -moz-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
          box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
}

div.status.intermediate.error {
  background-color: #FFA770;

  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
     -moz-box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
          box-shadow: 0 0 200px rgba(0,0,0,0.25) inset;
}

div.status.intermediate.error .statusButton {
  border-color: #AB4D00;
}

div.status.noConfig {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
  line-height: 18px;
  background-color: #f2f2f2;
}

div.status.noConfig img {
  display: block;
  margin: 0 auto 5px;
}

div.status.noConfig a {
  color: #00A0FF;
  text-decoration: none;
}

div.status.noConfig a:hover {
  text-decoration: underline;
}

.statusButton {
  font-size: 11px;
  vertical-align: baseline;
  font-weight: normal;
  border-color: maroon;
  position: absolute;
  right: 10px;
  bottom: 10px;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.statusButton:active {
  -webkit-box-shadow: 0 0 1px #666666 inset, 0 1px 0 rgba(255,255,255,0.25);
     -moz-box-shadow: 0 0 1px #666666 inset, 0 1px 0 rgba(255,255,255,0.25);
          box-shadow: 0 0 1px #666666 inset, 0 1px 0 rgba(255,255,255,0.25);
}

#statusErrorMessage {
  display: inline-block;
}
