* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-collapse: collapse;
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}

body {
  font-size: 11px;
  font-family: "lucida grande";
  max-height: 128px;
  overflow: hidden;
  background-color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
}

button::-moz-focus-inner { 
  border: 0; 
}

a {
  text-decoration: none;
  outline: none;
  color: #00A0FF;
}

a:hover {
  text-decoration: underline;
}

#tabs {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #777;
  background-color: #ddd;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-image:-moz-linear-gradient(center top , #EEEEEE 0%, #DDDDDD 100%);
}

#twitter, #facebook, #gmail, #settings {
}

ul.nav {
  display: block;
  width: 100%;
  padding: 0 10px;
}

ul.nav .username {
  font-size: 11px;
  line-height: 24px;
  padding: 0 10px;
  margin: 4px 10px;
  border-left: 1px dotted #888;
  display: inline-block;
}

ul.nav .username img {
  border: 1px solid #fff;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

ul.nav .username .userId {
  color: #000;
  font-weight: bold;
  /* text-shadow: 1px 1px 0 #bbb; */
}

ul.nav .navWrap {
  position: relative;
/*
  width: 960px;
  left: 50%;
  margin-left: -480px;
*/
}

ul.nav li {
  width: auto;
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 3px 0;
  font-size: 11px;
  line-height: 24px;
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #ddd 100%);
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  -moz-box-shadow: 0 1px 0 #fff;
}

ul.nav li:hover {
  background-color: rgba(255,255,255,0.5);
}

ul.nav li.ui-tabs-selected {
  -moz-box-shadow:0 0 1px #666666 inset, 0 1px 0 #FFFFFF;
  background-image:-moz-linear-gradient(center top , #EEEEEE 0%, #CCCCCC 100%);
}

ul.nav li:first-child {
  z-index: 1;
  -moz-border-radius: 2px 0 0 2px;
}

ul.nav li:nth-child(2) {
  z-index: 2;
  border-left: none;
  border-right: none;
}

ul.nav li:nth-child(3) {
  z-index: 1;
  -moz-border-radius: 0 2px 2px 0;
}

ul.nav li a {
  color: #fff;
}

ul.nav li a.icon {
  width: 36px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

ul.nav li a.icon.twitter {
  background-image: url("../share/i/twitterIcon.png");
}

ul.nav li a.icon.facebook {
  background-image: url("../share/i/facebookIcon.png");
}

ul.nav li a.icon.gmail {
  background-image: url("../share/i/gmailIcon.png");
}

ul.nav li a.icon.settings {
  background-image: url("../share/i/settingsIcon.png");
}

ul.nav li.debug {
  position: absolute;
  right: 46px;
  top: 0;
  width: 60px;
  text-align: center;
}

ul.nav li.debug span.name {
  display: block;
  padding: 0;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

ul.nav li.debug a.icon {
  width: auto;
}

ul.nav li span.name {
  display: none;
}

ul.nav li.ui-tabs-selected span.name {
  display: none;
}


ul.nav li.settings,
ul.nav li.settings.ui-tabs-selected {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  -moz-border-radius: 2px;
}

ul.nav li.settings:hover span.name,
ul.nav li.settings.ui-tabs-selected span.name {
  opacity: 1;
}

ul.nav li.settings span.name {
  display: none;
}

ul.nav li.ui-tabs-selected {

}

ul.nav li span.name {
  opacity: 0.5;
}

ul.nav li.ui-tabs-selected a.icon,
ul.nav li.ui-tabs-selected span.name {
  opacity: 1;
}

ul.nav li span.name {
  font-weight: bold;
  color: #fff;
}

ul.nav li.ui-tabs-selected span.name {
  color: #0a0a0a;
}

ul.nav span.name {
  display: block;
  padding-left: 24px;
}

ul.nav li.ui-tabs-selected.settings span.name {
  display: none;
}

ul.nav li.ui-tabs-selected a.twitter,
ul.nav li:hover a.twitter {
  background-image: url("../share/i/twitterIconColor.png");
}

ul.nav li.ui-tabs-selected a.facebook,
ul.nav li:hover a.facebook {
  background-image: url("../share/i/facebookIconColor.png");
}

ul.nav li.ui-tabs-selected a.gmail,
ul.nav li:hover a.gmail {
  background-image: url("../share/i/gmailIconColor.png");
}

ul.nav li.ui-tabs-selected a {
  color: #0a0a0a;
}

div.user {
  font-size: small;
  width: 140px;
  overflow: hidden;
}

div.user.inactive {
  opacity: 0.5;
  background: -moz-repeating-linear-gradient(top left -45deg, #aaa, #aaa 5px, #fff 5px, #fff 10px) #aaa no-repeat fixed;
  -moz-border-radius: 1%;
  cursor: pointer;
}

div.user .username {
  color: #444;
  font-weight: bold;
}

td.image {
  width: 90px;
}

.thumbnail {
  height: 71px;
  padding: 4px;
  border: 1px solid #bbb;
  margin: 0 5px 0 0;
  -moz-border-radius: 2px;
}

div.thumb {
  border: 1px solid #aaa;
  background-color: #fff;
  height: 61px;
  width: 90px;
  display: inline-block;
}

ul.info {
  display: inline-block;
  width: 150px;
  font-size: 11px;
  padding: 0 5px 0 10px;
}

.info .description {
  color: #000;
  font-size: 10px;
}

.thumb .title {
  color: #3B5998;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}

.thumb .description {
  color: #808080;
  font-size: x-small;
}

button {
  padding: 2px 15px;
  background-image: -moz-linear-gradient(center top , #FAFAFA 0%, #DDDDDD 100%);
  border-width: 1px; 
  border-style: solid;
  border-color: #888;
  -moz-border-radius: 2px;
  margin-left: 5px;
  cursor: pointer;
  -moz-box-shadow: 0 1px 0 #fff;
}

button.share {
  -moz-border-radius: 0 2px 2px 0;
  border-left: none;
  margin-left: 0;
}

button:active {
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #CCCCCC 100%);
  -moz-box-shadow:0 0 1px #666666 inset, 0 1px 0 #FFFFFF;
}

textarea, input[type="text"] {
  border-width: 1px; 
  border-style: solid;
  border-color: #888;
  font-family: "lucida grande"
  font-size: 12px;
  line-height: 18px;
  padding: 3px;
  margin: 0;
  width: 100%;
  -moz-border-radius: 2px;
  -moz-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.25) inset,  0 1px 0 #fff;
}

textarea.message {
  min-height: 71px;
  -moz-border-radius: 2px 0 0 2px;
  font-size: 14px;
}

textarea:focus, input[type="text"]:focus {
}

.inputs {
  margin: 0 5px 0 0;
}

input[type="text"] {
  height: 26px;
  width: 238px;
  display: block;
}

input[type="text"]#to {
  margin-bottom: 5px;
}

.entry {
  padding: 5px 10px;
  width: 100%;
/*
  width: 960px;
  left: 50%;
  margin-left: -480px;
*/
  position: relative;
  min-height: 71px;
}

.entry .urlConfirmation {
  padding: 1px 5px;
  -moz-border-radius: 10px;
  background-image: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  border: 1px solid #bebebe;
  color: green;
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 1;
  color: green;
  font-size: 10px;
  cursor: pointer;
  display: none;
}

.entry .urlConfirmation span {
  color: #333;
}

#settings .entry ul {
  min-width: 660px;
}

#settings .entry ul li {
  display: inline-block;
  float: left;
  width: 220px;
  min-height: 71px;
}

#settings .entry ul li:nth-child(1) {
  padding: 0 10px 0 0;
}

#settings .entry ul li:nth-child(2) {
  padding: 0 10px 0;
}

#settings .entry ul li:nth-child(3) {
  padding: 0 0 0 10px;
}

#settings .entry ul li button {
  margin: 0;
  width: 100%;
  padding: 5px 0;
}

#settings .entry ul li h1 {
  margin: 0 0 10px 0;
}

.entry h1 {
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #0a0a0a;
  padding: 5px 0 0 0;
  /* border-top: 1px dotted #888; */
}

.entry h1 a {
  font-weight: normal;
}

#settings .entry .settings {
  width: 253px;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px dotted #888;
  color: #444;
}

#settings .entry .success {
  width: 100%;
  line-height: 24px;
  color: #54B851;
  font-weight: bold;
}

#settings .entry .success span.check {
  width: 24px;
  background-color: #54B851;
  color: #fff;
  -moz-border-radius: 12px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

/* START hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */
/* hbox and vbox classes */
 
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
 
.boxFlex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.boxFlex1, .boxFlex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.boxFlex2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
 
.boxGroup1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
 
.boxGroup2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}
 
.start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
/* END hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
