* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-collapse: collapse;
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
}

body {
  font-size: 14px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  max-height: 128px;
  overflow: hidden;
  background-color: #fff;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
}

button::-moz-focus-inner { 
  border: 0; 
}

a {
  text-decoration: none;
  outline: none;
}

#tabs {
  -moz-box-shadow: 0 -5px 2px -4px #DDDDDD inset;
  height: 125px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}

ul.nav {
  background-image: url("i/background.gif");
  -moz-box-shadow: 0 -2px 3px rgba(0,0,0,0.5) inset;
  display: block;
  width: 100%;
  padding: 0 10px;
}

ul.nav .username {
  height: 24px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  position: absolute;
  right: 35px;
  top: 6px;
}

ul.nav .username img {
  border: 1px solid #fff;
  width: 23px;
  height: 23px;
  margin-left: 5px;
}

ul.nav .navWrap {
  width: 962px;
  position: relative;
  left: 50%;
  margin-left:-481px;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

ul.nav li {
  width: auto;
  display: inline-block;
  float: left;
  list-style-type: none;
  background-color: #444;
  margin: 10px 0 0 0px;
  font-size: 12px;
  line-height: 24px;
  -moz-border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.45);
}

ul.nav li:hover {
  background-color: #555;
}

ul.nav li:nth-child(n+2) {
  margin-left: -5px;
}

ul.nav li:nth-child(1) {
  z-index: 1;
}

ul.nav li:nth-child(2) {
  z-index: 2;
}

ul.nav li:nth-child(3) {
  z-index: 1;
}

ul.nav li a {
  color: #fff;
}

ul.nav li a.icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

ul.nav li a.icon.twitter {
  background-image: url("../share/i/twitter_w.png");
}

ul.nav li a.icon.facebook {
  background-image: url("../share/i/facebook_w.png");
}

ul.nav li a.icon.gmail {
  background-image: url("../share/i/gmail_w.png");
}

ul.nav li a.icon.settings {
  background-image: url("i/settings.png");
  background-position: top left;
}

ul.nav li.debug {
  position: absolute;
  right: 46px;
  top: 0;
  width: 60px;
  text-align: center;
}

ul.nav li.debug span.name {
  display: block;
  padding: 0;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

ul.nav li.debug a.icon {
  width: auto;
}

ul.nav li span.name {
  display: none;
}

ul.nav li.ui-tabs-selected span.name {
  display: block;
}


ul.nav li.settings,
ul.nav li.settings.ui-tabs-selected {
  position: absolute;
  background-color: transparent;
  background-image: none;
  -moz-box-shadow: none;
  right: 15px;
  top: 0;
  width: 16px;
  text-align: center;
}

ul.nav li.settings:hover span.name,
ul.nav li.settings.ui-tabs-selected span.name {
  opacity: 1;
}

ul.nav li.settings span.name {
  display: none;
}

ul.nav li.ui-tabs-selected {
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
  width: 128px;
  z-index: 100;
}

ul.nav li a.icon,
ul.nav li span.name {
  opacity: 0.5;
}

ul.nav li.ui-tabs-selected a.icon,
ul.nav li.ui-tabs-selected span.name {
  opacity: 1;
}

ul.nav li span.name {
  font-weight: bold;
  color: #fff;
}

ul.nav li.ui-tabs-selected span.name {
  color: #0a0a0a;
}

ul.nav span.name {
  display: block;
  padding-left: 24px;
}

ul.nav li.ui-tabs-selected.settings {
  width: 16px;
}

ul.nav li.ui-tabs-selected.settings span.name {
  display: none;
}

ul.nav li.ui-tabs-selected a.twitter {
  background-image: url(".../share/i/twitter_b.png");
}

ul.nav li.ui-tabs-selected a.facebook {
  background-image: url("../share/i/facebook_b.png");
}

ul.nav li.ui-tabs-selected a.gmail {
  background-image: url("../share/i/gmail_b.png");
}

ul.nav li.ui-tabs-selected a {
  color: #0a0a0a;
}

table {
  width: 100%;
}

td.user {
  width: 140px;
  padding-right: 10px;
  white-space: nowrap;
}

td.thumb {
  width: 220px;
  padding: 0 10px;
}

td.message {
  width: 300px;
  padding: 0 10px;
}

td.button {
  padding: 1px 20px;
  vertical-align: bottom;
}

div.user {
  font-size: small;
  width: 140px;
  overflow: hidden;
}

div.user.inactive {
  opacity: 0.5;
  background: -moz-repeating-linear-gradient(top left -45deg, #aaa, #aaa 5px, #fff 5px, #fff 10px) #aaa no-repeat fixed;
  -moz-border-radius: 1%;
  cursor: pointer;
}

div.user .username {
  color: #444;
  font-weight: bold;
}

td.image {
  width: 90px;
}

div.thumb {
  border: 1px solid #aaa;
  background-color: #fff;
  height: 71px;
  width: 90px;
  display: inline-block;
}

ul.info {
  display: inline-block;
  width: 150px;
  font-size: 12px;
  padding: 0 10px;
}

.info .description {
  color: #666;
  font-size: 10px;
}

.thumb .title {
  color: #3B5998;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}

.thumb .description {
  color: #808080;
  font-size: x-small;
}

button {
  padding: 2px 15px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  line-height:24px;
  background-image: -moz-linear-gradient(top,#fafafa 0%,#e6e6e6 100%);
  border: 1px solid #bebebe;
  -moz-box-shadow: 0 0 0 1px #fff inset;
  margin-left: 10px;
  cursor: pointer;
}

button:hover, button:active {
  border: 1px solid #999;
}

button:active {
  -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.35) inset, 0 0 3px rgba(0,0,0,0.75) inset;
}

textarea, input[type="text"] {
  -moz-box-shadow: 0 0 2px #CCCCCC inset;
/*   background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%); */
  border: 1px solid #BEBEBE;
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 3px;
  margin: 0;
  width: 100%;
}

textarea:focus, input[type="text"]:focus {
  border: 1px solid #999;
}

.inputs {
  margin: 0 10px 0 0;
}

input[type="text"] {
  height: 30px;
  width: 234px;
  display: block;
}

input[type="text"]#to {
  margin-bottom: 11px;
}

.entry {
  padding: 10px;
  width: 962px;
  left: 50%;
  margin-left: -481px;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 70px;
}

.entry .urlConfirmation {
  padding: 1px 5px;
  -moz-border-radius: 10px;
  background-image: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  border: 1px solid #bebebe;
  color: green;
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 1;
  color: green;
  font-size: 10px;
  cursor: pointer;
}

.entry .urlConfirmation span {
  color: #333;
}

#settings .entry ul li {
  display: inline-block;
  float: left;
}

#settings .entry ul li button {
  margin: 0 10px 0 0;
  width: 128px;
}

.entry h1 {
  margin: 0 0 10px 0;
}

/* START hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */
/* hbox and vbox classes */
 
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
 
.boxFlex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.boxFlex1, .boxFlex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.boxFlex2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
 
.boxGroup1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
 
.boxGroup2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}
 
.start {
	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}
 
.end {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
 
.center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
/* END hbox/vbox normalization from http://alex.dojotoolkit.org/2009/08/css-3-progress/ */

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
