#ffshare-toolbar-button
{
  list-style-image: url("chrome://ffshare/skin/toolbar-button.png");
  -moz-image-region: rect(0px, 22px, 22px, 0px);
}
#ffshare-toolbar-button > image
{
  width: 22px;
  height: 22px;
}
