
body {
    margin: .5em;
}

body #header.row {
    margin: 0;
    padding: 0 10px 0;    
    float: none;
}

body #header.row .logo {
    display: none
}

body .mobile {
    display: inherit;
}

body #wrapper {
    width: 100%;
    max-width: 720px;
}

body #header.row .c1 {
    height: auto;
  display: inline-block;
  min-height: 1%;
  margin: 0;
  position: relative;
  width: 100%;
  line-height: normal;
}

div span.remove,
div span.add {
  color: #fff;
  font-weight: bold;
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("i/sprite.png");
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin: 5px;
}

div span.remove {
  background-position: center -305px;
}

div span.add {
  background-position: center -339px;
}

body li.remove,
body li.auth {
    cursor: pointer;
}

body #newsFooter > div {
    -moz-box-orient: vertical;
}
body #newsFooter .privacy {
    margin: 10px 0 0 0;
}